@font-face {
    font-family: 'SEGA FONT FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT') , URL('SEGA.woff') format('woff');
   }
  h1 {
    font-family: 'MyWebFont';
  }